/*===== Color variables =====*/
:root 
{
    --GreenButtonColor:#3A7326;
    --ButtonTextColor:#3A7326;
    --AhoverColor:#3A7326;
    --BoxShadowColor:#3A7326;
    --AColor:#282B27;
    --AColor2:#3A7326;
    --ButtonBorderColor:#A6DC94;
    --Pcolor:#3A7326;
}
/*===== Header =====*/
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 24px 0px 24px 0px;
    margin: 0 auto;
    max-width: 1360px;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.header_left_side .wlogo
{
    display: none;
}
.header_left_side 
{
    display: flex;
    align-items: center;
    gap: 52px;
}
/*===== Navigation menu =====*/
.nav ul 
{
    display: flex;
    gap: 40px;
}
.nav ul li a
{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.nav ul li a:hover
{
    color: var(--AhoverColor);
}
.header_right_side
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px
}
/*===== Hamburger menu =====*/
.Hamburger_icon
{
    display: none;
}
.fa-x
{
    display: none;
}
/*===== Dark mode menu =====*/
.fa-sun
{
    display: none;
    font-size: 20px;
    text-align: center;
}
.fa-moon
{
    font-size: 20px;
    text-align: center;
}
/*===== Header button =====*/
.Demobtn,.NTrialbtn,.Learnbtn,.Trialbtn,.EDemobtn
{
    padding: 16px 20px;
    font-size: 1.1rem;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}
.Learnbtn
{
    margin-left: 12px;
}
.Demobtn,.Learnbtn,.EDemobtn
{
    background-color: white;
    color: var(--ButtonTextColor);
    border: 2px solid var(--ButtonBorderColor);
}
.Demobtn:hover ,.Learnbtn:hover
{
    background-color: var(--GreenButtonColor);
    color: white;
    border: 2px solid var(--GreenButtonColor);
}
.NTrialbtn,.Trialbtn,.EDemobtn
{
    background-color: var(--GreenButtonColor);
    color: white;
    border: none;
}
.Trialbtn:hover,.EDemobtn:hover,.EDemobtn:hover,.NTrialbtn:hover
{
    color: var(--ButtonTextColor);
    background-color: white;
    border: 2px solid var(--GreenButtonColor);
}
/*===== Dropdown menu =====*/
.dropdown {
  position: relative;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 130px;
  padding: 12px 16px;
  border-radius: 16px;
  box-shadow: var(--BoxShadowColor) 0px 5px 10px, var(--BoxShadowColor) 0px 5px 5px;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}
/*===== Inside Dropdown menu =====*/
.dropdown_flex_content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 32px 32px 32px;
}
.HOME_PAGES,.MAIN_PAGE
{
    width: 364px;
    border-right: 1px solid black;
}
.CONTENT_PAGE
{
    width: 364px;
}
/*===== Inside Dropdown card menu settings =====*/
.card
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
    gap: 16px;
    cursor: pointer;
}
.card a:hover
{
    color: var(--AhoverColor);
}
.card>div>a
{
    margin-bottom: 4px;
}

/*===== Case Studies Dropdown =====*/
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 350px;
  padding: 12px 16px;
  border-radius: 16px;
  box-shadow: var(--BoxShadowColor) 0px 5px 10px, var(--BoxShadowColor) 0px 5px 5px;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown-content2>ul
{
    display: block;
}
.dropdown-content2>ul>li
{
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid black;
}
.dropdown-content2 > ul > li:last-child {
    border-bottom: none;
}
/*===== Phone Drop-down =====*/
.phone_drop_down_menu {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.phone_drop_links ul li 
{
    padding: 24px 0px 24px 0px;
    margin: 0px 40px 0px 40px;
    list-style-type: none;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.phone_drop_links ul li a:hover
{
    color: var(--AhoverColor);
} 

.phone_drop_links  ul  li:last-child {
    border-bottom: none;
}

.phone_drop_links ul li a
{
    color: black;
    font-weight: bold;
}
.Phone_dropdown1_content1 ul li a
{
    color: gray;
}
.Phone_dropdown1_content2 ul li a
{
    color: gray;
}
.Phone_dropdown1_content3 ul li a
{
    color: gray;
}
.phone_drop_links ul li a .fa-chevron-down  
{
    float: right;
}
.phone_drop_links ul li a  .fa-chevron-up
{
    float: right;
}
.fa-chevron-down,.fa-chevron-up
{
    font-size: 24px;
} 
.phone_drop_links ul li a  .fa-chevron-up
{
    display: none;
}
/*============== Main->Hero section ==============*/
.Hero_section
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}

.Hero_section_flexbox
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.Flex_content1,.Flex_content2
{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 16px;
}

.Flex_content3
{
    display: flex;
    margin-top: 16px;
    gap: 16px;
    justify-content: flex-end;
}

.Hero_left_side h1
{
    font-size: 5.5rem;
    margin-bottom: 32px;
}
.Hero_left_side p
{
    font-size: 1.5rem;
    margin-bottom: 48px;
    line-height: 2.5rem;
}
/*============== Partners section ==============*/
.Partners_section
{
    display: flex;
    overflow-x: hidden;
    max-width: 1204px;
    margin: 0 auto;
    padding: 32px 0px 32px 0px;
}
.Partners_section_group
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    animation: spin 30s infinite linear;
    padding-right: 1em;
}
.Partners_section_group::-webkit-scrollbar
{
    display: none;
}
.Partners_section_group>img 
{
    flex: 0 0 5em;
}
@keyframes spin {
    from {translate: 0;}
    to   {translate: -100%;}
}
/*============== About us section ==============*/
.About_us
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}
.About_us p:first-child
{
    color: var(--Pcolor);
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.About_us h2
{
    font-size: 3rem;
    margin-bottom: 40px;
}
.About_us p
{
    font-size: 1.6rem;
    margin-bottom: 60px;
    line-height: 2.5rem;
}
.About_us_flexcontetnt
{
    display: flex;
    align-items: flex-start;
    gap: 52px;
    
}
.About_us a
{
    color: var(--AColor2);
    font-weight: bold;
}
.About_us_flexcontetnt div h3
{
    font-size: 39px;
}
/*============== Solutions section ==============*/
.Solutions
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}
.Solutions>div>p:first-child
{
    font-weight: bold;
}
.Solutions>div>p 
{
    text-align: center;
    color: var(--Pcolor);
    font-size: 1rem;
    margin-bottom: 20px;
}
.Solutions>div>h3 
{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
}
.Solutions_flex_content
{
    display: flex;
    gap: 32px;
}
.Solutions_flex_content_item
{
    border-top: 1px solid grey;
}
.Solutions_flex_content_item img
{
    margin: 40px 209px 92px 0px;
}
.Solutions_flex_content_item h3
{
    font-size: 2rem;
}
.Solutions_flex_content_item p
{
    font-size: 20px;
    margin-top: 12px;
    line-height: 1.8rem;
}
/*=================== Blog section ===================*/
.blog_section
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}
.blog_section_text_content>p:first-child
{
    color: var(--Pcolor);
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.blog_section_text_content>h3
{
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.blog_section_text_content>p
{
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 80px;
}
.blog_section_flexbox
{
    display: flex;
    gap: 32px;
}
.blog_section_flexbox_item p
{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 0.8rem;
}
.blog_section_flexbox_item h3
{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 1.3rem;
}
/*=================== Experience section ===================*/
.experience_section
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}
.experience_section_flexbox
{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.experience_left_side_item h3
{
    font-size: 2.7rem;
    margin-bottom: 16px;
}
.experience_left_side_item p
{
   font-size: 1rem;
   line-height: 1.7rem;
}
.experience_left_side_item ul
{
    list-style-image: url(icons/Icon\ wrapper.png);
    margin-top: 32px;
    margin-bottom: 32px;
}
.experience_left_side_item li
{
    font-size: 1.4rem;
}
.experience_right_side_item .wimg2
{
    display: none;
}
.experience_right_side_item .dimg1
{
    display: none;
}
.experience_right_side_item .dimg2
{
    display: none;
}
/*=================== FAQ section ===================*/
.faq_section
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
}
.faq_section>p:first-child
{
    color: var(--Pcolor);
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.faq_section>h3
{
    font-size: 3rem;
    margin-bottom: 20px;
}
.faq_section>p
{
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 48px;
}
.faq_section_grid
{
    max-width: 1204px;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid-row-gap: 32px;
}
.faq_section_grid h4
{
    font-size: 1.1rem;
    margin: 0px 24px 24px 0px;
}
.faq_section_grid p
{
    font-size: 1rem;
    margin: 0px 24px 16px 0px;
}
.faq_section_grid_item4 p
{
    font-size: 1rem;
    margin: 0px 24px 16px 0px;

}
/*=================== Footer ===================*/
.footer_flexbox
{
    max-width: 1204px;
    margin: 0 auto;
    padding: 112px 0px 80px 0px;
    display: flex;
    gap: 40px;
    border-top: 1px solid gray;
}
.footer_flexbox_item h6
{
    font-size: 1rem;
}
.footer_flexbox_item ul
{
    list-style-type: none;
    margin-top: 20px;
    margin-right: 136px;
}
.footer_flexbox_item li
{
    margin-top: 12px;
}
.footer_flexbox_item a
{
    color: var(--AColor);
}
.footer_flexbox_item
{
    flex: 1 1 200px;
}
.footer_flexbox_item:first-child
{
    flex: 0 0 200px;
}
.footer_flexbox_item .wlogo
{
    display: none;
}
.flast_Section
{
    display: flex;
    justify-content: space-between;
    max-width: 1204px;
    margin: 0 auto;
    padding: 24px 0px 24px 0px;
    border-top: 1px solid gray;
}
.flast_Section div:last-child>span
{
    margin-right: 24px;
}
/*===================@media Queries===================*/
@media screen and (max-width: 1200px) 
{
    .nav
    {
        display: none;
    }
    .header
    {
        margin: 0px 40px 0px 40px;
    }
    .Hamburger_icon
    {
        display: block;
        cursor: pointer;
        font-size: 32px;
    }
     .phone_drop_down_menu 
     {
         display: none;
     }
     .Phone_dropdown1_content2
     {
         display: none;
     }
    .Hero_section,.Partners_section,
    .About_us,.Solutions,.blog_section,
    .experience_section,.faq_section,
    .footer_flexbox,.flast_Section
    {
        margin: 0px 40px 0px 40px;
    }
    .Hero_section_flexbox
    {
        flex-direction: column;
    }
    .Hero_left_side
    {
        margin-right: auto;
    }
    .Hero_right_side
    {
        margin-left: auto;
    }
    .About_us_text
    {
        display: none;
    }
    .Solutions_flex_content
    {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .Solutions_flex_content_item
    {
        width: 48%;
    }
    .blog_section_flexbox
    {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .blog_section_flexbox_item
    {
        width: 48%;
    }
    .blog_section_flexbox_item img
    {
        width: 100%;
    }
    .experience_section_flexbox
    {
        flex-direction: column;
    }
    .experience_right_side_item .wimg1
    {
        display: none;
    }
    .experience_right_side_item .wimg2
    {
        display: block;
        width: 100%;
    }
    
    .faq_section_grid 
    {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a d"
      "b e"
      "c f";
    gap: 32px;
    width: 100%
  }

  .faq_section_grid_item1 { grid-area: a; }
  .faq_section_grid_item2 { grid-area: b; }
  .faq_section_grid_item3 { grid-area: c; }
  .faq_section_grid_item4 { grid-area: d; }
  .faq_section_grid_item5 { grid-area: e; }
  .faq_section_grid_item6 { grid-area: f; }


   .footer_flexbox {
        flex-wrap: wrap;          
    }

    .footer_flexbox_item:first-child {
        flex: 0 0 100%;           
        margin-bottom: 20px;
    }

    .footer_flexbox_item {
        flex: 1 1 150px;          
        margin-right: 0;
    }

    .footer_flexbox_item ul {
        margin-right: 0;
    }
}

@media screen and (max-width: 810px) 
{
    .header
    {
        margin: 0px 24px 0px 24px;
    }
    .Demobtn,.NTrialbtn
    {
        display: none;
    }
    .Hero_section,.Partners_section,
    .About_us,.Solutions,.blog_section,
    .experience_section,.faq_section,
    .footer_flexbox,.flast_Section
    {
        margin: 0px 24px 0px 24px;
    }
    .Trialbtn,.Learnbtn
    {
        display: block;
        width: 100%;
        margin: 15px 0px 15px 0px;
    }
    .About_us_text
    {
        display: block;
    }
    .About_us_flexcontetnt
    {
        flex-wrap: wrap;
    }
    .Solutions_flex_content
    {
        justify-content: center;
    }
    .Solutions_flex_content_item
    {
        width: 100%;
    }
    .blog_section_flexbox
    {
        justify-content: center;
    }
    .blog_section_flexbox_item
    {
        width: 100%;
    }
    .blog_section_flexbox_item img
    {
        width: 100%;
    }
    .EDemobtn
    {
        display: block;
        width: 100%;
        margin: 15px 0px 15px 0px;
    }
    .faq_section_grid 
    {
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f";
    gap: 32px;
    width: max-content;  
    margin: 0 auto;
    width: 100%;    
  }

  .faq_section_grid_item1 { grid-area: a; }
  .faq_section_grid_item2 { grid-area: b; }
  .faq_section_grid_item3 { grid-area: c; }
  .faq_section_grid_item4 { grid-area: d; }
  .faq_section_grid_item5 { grid-area: e; }
  .faq_section_grid_item6 { grid-area: f; }
  
    
}
@media screen and (max-width: 450px) {
    .Buttons
    {   
        margin: 0px 24px 0px 24px;
    }
    .Trialbtn,.Learnbtn
    {
        margin: 0 auto;
    }
    .Flex_content1 img
    {
        width: 20%;
    }
    .Flex_content2 img
    {
        width: 20%;
    }
    .Flex_content3 img
    {
        width: 20%;
    }
    .Learnbtn
    {
        margin-top: 10px;
    }
}


@media screen and (max-width: 350px) {
    .Hero_left_side>h1
    {
        font-size: 3.6rem;
    }
     .Hero_left_side>p
    {
        font-size: 1.5rem;
    }
    .Solutions>div>h3
    {
        font-size: 2.7rem;
    }
    .Learnbtn
    {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1201px) {
    .phone_drop_down_menu {
        display: none !important;
    }
}
