:root 
{
    --GreenButtonColor:#3A7326;
    --ButtonTextColor:#3A7326;
    --AhoverColor:#3A7326;
    --BoxShadowColor:#3A7326;
    --AColor:#282B27;
    --ButtonBorderColor:#A6DC94;
}
/*=====Fejlec=====*/
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 24px 0px 24px 0px;
    margin: 0px 40px 0px 40px;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.header_left_side 
{
    display: flex;
    align-items: center;
    gap: 52px;
}
.nav ul 
{
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.nav ul li a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.nav ul li a:hover
{
    color: var(--AhoverColor);
}
.header_right_side
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:12px
}
.Hamburger_icon
{
    display: none;
}
/*=====Fejlec->gombok=====*/
.Demobtn,.Trialbtn
{
    padding: 16px 20px;
    font-size: 1.1rem;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}
.Demobtn
{
    background-color: white;
    color: var(--ButtonTextColor);
    border: 2px solid var(--ButtonBorderColor);
}
.Demobtn:hover
{
    background-color: var(--GreenButtonColor);
    color: white;
    border: 2px solid var(--GreenButtonColor);
}
.Trialbtn
{
    background-color: var(--GreenButtonColor);
    color: white;
    border: none;
}
.Trialbtn:hover
{
    color: var(--ButtonTextColor);
    background-color: white;
    border: 2px solid var(--GreenButtonColor);
}
/*dropdown */
.dropdown {
  position: relative;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 130px;
  padding: 12px 16px;
  border-radius: 16px;
  box-shadow: var(--BoxShadowColor) 0px 5px 10px, var(--BoxShadowColor) 0px 5px 5px;
}
.dropdown:hover .dropdown-content1 {
  display: block;
}
/*inside dropdown*/
.dropdown_flex_content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 32px 32px 32px;
}
.HOME_PAGES,.MAIN_PAGE
{
    width: 364px;
    border-right: 1px solid black;
}
.CONTENT_PAGE
{
    width: 364px;
}
.card
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 24px;
    gap: 16px;
    cursor: pointer;
}
.card a:hover
{
    color: var(--AhoverColor);
}
.card>div>a
{
    margin-bottom: 4px;
}

/*Case Studies dropdown*/
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 370px;
  padding: 12px 16px;
  border-radius: 16px;
  box-shadow: var(--BoxShadowColor) 0px 5px 10px, var(--BoxShadowColor) 0px 5px 5px;
}
.dropdown:hover .dropdown-content2 {
  display: block;
}
.dropdown-content2>ul
{
    display: block;
}
.dropdown-content2>ul>li
{
    padding: 20px 24px 20px 24px;
    border-bottom: 1px solid black;
}
.dropdown-content2 > ul > li:last-child {
    border-bottom: none;
}